#root {
  max-width: 1280px;
}
.box-btn-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.box-json{
  border-radius: 8px;
  display: flex;
}
.btn-json{
  border-radius: 8px;
  display: flex;
  background-color: rgb(46, 45, 45);
  color: aqua;
}
.input-json{
  background-color: rgb(46, 45, 45);
  color: aqua;
  border-radius: 8px;
  display: flex;
  width: 35vw;
  height: 75vh;
  margin-bottom: 20px;
}

.json-result{
  margin-left: 25px;
  border-radius: 8px;
  width: 60vw;
  height: 100vh;
  margin-bottom: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
